
@{
    ViewBag.Title = "Create";
}

@{
    ViewBag.Title = "CreateApartment";
}

<style type="text/css">
    #map {
        width: 100%;
        height: 400px;
    }


    label.error {
        color: red;
    }
</style>
@if (TempData["message"] != null)
{
    if (TempData["message"] as string == "Create Success")
    {
        <p class="alert alert-success">@TempData["message"]</p>
    }
    else
    {
        <p class="alert alert-danger">@TempData["message"]</p>
    }

}
<!-- page content -->

<div class="">
    <h3 style="text-align: center;">Vui lòng nhập thông tin admin</h3>

    <div class="row">
        <!-- form input mask -->
        <div class="col-md-12 col-sm-12  ">
            <div class="x_panel">
                <div class="x_title">
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <form class="" action="" id="UserData" method="post" enctype="multipart/form-data">
                        <fieldset>
                            <div class="field item form-group">
                                <label class="col-form-label col-md-3 col-sm-3  label-align">Họ</label>
                                <div class="col-md-6 col-sm-6">
                                    <input class="form-control" data-validate-length-range="255" data-validate-words="2" name="first_name" id="first_name"
                                           placeholder="Vui lòng nhập họ" required />
                                </div>
                            </div>

                            <div class="field item form-group">
                                <label class="col-form-label col-md-3 col-sm-3  label-align">Tên</label>
                                <div class="col-md-6 col-sm-6">
                                    <input class="form-control" data-validate-length-range="255" data-validate-words="2" name="last_name" id="last_name"
                                           placeholder="Vui lòng nhập tên" required />
                                </div>
                            </div>
                            <div class="field item form-group">
                                <label class="col-form-label col-md-3 col-sm-3  label-align">Email</label>
                                <div class="col-md-6 col-sm-6">
                                    <input class="form-control" type="email" data-validate-length-range="255" data-validate-words="2" name="email" id="email"
                                           placeholder="Vui lòng nhập Email" required />
                                </div>
                            </div>
                            <div class="field item form-group">
                                <label class="col-form-label col-md-3 col-sm-3  label-align">Mật Khẩu</label>
                                <div class="col-md-6 col-sm-6">
                                    <input class="form-control" type="password" data-validate-length-range="255" data-validate-words="2" name="password" id="password"
                                           placeholder="Mật khẩu" required="required" />
                                </div>
                            </div>
                            <div class="field item form-group">
                                <label class="col-form-label col-md-3 col-sm-3  label-align">Xác nhận mật khẩu</label>
                                <div class="col-md-6 col-sm-6">
                                    <input class="form-control" type="password" data-validate-length-range="255" data-validate-words="2" name="confirmpassword" id="confirmpassword"
                                           placeholder="Xác nhận mật khẩu" required="required" />
                                </div>
                            </div>

                            <div class="field item form-group">
                                <label class="control-label col-md-3 col-sm-3 label-align">Chọn loại quyền</label>
                                <div class="col-md-6 col-sm-6 ">
                                    <select class="form-control" id="role" name="role">
                                        <option value="3">Admin Bussiness</option>
                                        <option value="4">Admin HR</option>
                                        <option value="5">Admin Finance</option>
                                    </select>
                                </div>
                            </div>

                            <div class="ln_solid">
                                <div class="form-group">
                                    <div class="col-md-6 offset-md-3">
                                        <input type='submit' class="btn btn-primary" id="btnSave" value="Tạo tài khoản" />
                                        @Html.ActionLink("Quay lại", "Index", null, new { @class = "btn btn-success" })
                                    </div>
                                </div>
                            </div>



                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
        <!-- /form input mask -->

    </div>
</div><!-- /.docs-toggles -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
@section scripts{

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyAWX9wvYc5A0RwrT_pMQfV9uw_YxIela_0" type="text/javascript"></script>

    <script>
        $(document).ready(function () {
            $("#UserData").validate({
                rules: {
                    first_name: "required",
                    last_name: "required",
                    email: "required",
                    password: "required",
                    confirmpassword: "required",
                },
                messages: {
                    first_name: "Vui lòng nhập họ",
                    last_name: "Vui lòng nhập tên",
                    email: "Vui lòng nhập email",
                    password: "Vui lòng nhập email",
                    confirmpassword: "Vui lòng nhập xác nhận mật khẩu"

                }

            });


            var role = $('#role option:selected').val();
            $(document).on('submit', '#UserData', function (e) {
                var fass = $('#password').val();
                var conf = $('#confirmpassword').val();
                e.preventDefault();

                if (fass != conf) {
                    alert("Vui lòng nhập đúng confirm password");
                }
                else {
                    //function will be called on button click having id btnsave


                    if ($("#UserData").valid()) {
                        var form = $('#UserData')[0];

                        var dataModel = new FormData(form);
                        dataModel.append("role", role);

                        $.ajax({
                            type: "POST",
                            enctype: 'multipart/form-data',
                            url: "/User/Create",
                            data: dataModel,
                            contentType: false, // Not to set any content header
                            processData: false, // Not to process data
                            success: function (response) {
                                if (response.result) {
                                    alert(response.mess);
                                    window.location.href = response.url;
                                }
                                else {
                                    alert(response.mess);
                                }

                            },
                            error: function (response) {
                                alert(response.mess);
                            }
                        });
                    }
                }

                //$.ajax({
                //    type: "POST",
                //    url: "/Home/Create",
                //    //dataType: "json",
                //    contentType: false, // Not to set any content header
                //    processData: false, // Not to process data
                //    data: file_data,
                //    success: function (result, status, xhr) {
                //        alert(result);
                //    },
                //    error: function (xhr, status, error) {
                //        alert(status);
                //    }
                //});



            });

        });

    </script>


}


