<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/App_Themes/CMS/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/App_Themes/CMS/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="~/App_Themes/CMS/vendors/nprogress/nprogress.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="~/App_Themes/CMS/build/css/custom.min.css" rel="stylesheet">
</head>
<body>
    <div class="nav-md">
        @RenderBody()
    </div>
    <!-- jQuery -->
    <script src="~/App_Themes/CMS/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/App_Themes/CMS/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- FastClick -->
    <script src="~/App_Themes/CMS/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="~/App_Themes/CMS/vendors/nprogress/nprogress.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="~/App_Themes/CMS/build/js/custom.min.js"></script>
</body>
</html>
