
@{
    ViewBag.Title = "CreateApartment";
}
  

            <!-- page content -->
          
                <div class="">
                    <h3 style="text-align: center;">Vui lòng nhập thông tin căn hộ của bạn</h3>
                    
                    <div class="row">
                        <!-- form input mask -->
                        <div class="col-md-12 col-sm-12  ">
                            <div class="x_panel">
                                <div class="x_title">
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                    <form class="" action="" method="post" novalidate>
                                        <div class="field item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3  label-align">Tên căn hộ mới</label>
                                            <div class="col-md-6 col-sm-6">
                                                <input class="form-control" data-validate-length-range="255" data-validate-words="2" name="name"
                                                       placeholder="Vui lòng nhập tên căn hộ mới." required="required" />
                                            </div>
                                        </div>
                                        <div class="field item form-group">
                                            <label class="control-label col-md-3 col-sm-3 label-align">Chọn loại căn hộ</label>
                                            <div class="col-md-6 col-sm-6 ">
                                                <select class="form-control">
                                                    <option value="mini-apartment">Căn hộ mini</option>
                                                    <option value="nor-apartment">Căn hộ thường</option>
                                                    <option value="penthouse-apartment">Căn hộ Penthouse</option>
                                                    <option value="duplex-apartment">Căn hộ Duplex</option>
                                                    <option value="villa">Villa</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="field item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3  label-align">Số Lượng Giường</label>
                                            <div class="col-md-6 col-sm-6">
                                                <input class="form-control" data-validate-length-range="255" data-validate-words="2" name="name"
                                                       placeholder="Số Lượng Giường (Chiếc)" required="required" />
                                            </div>
                                        </div>
                                        <div class="field item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3  label-align">Sức chứa tiêu chuẩn</label>
                                            <div class="col-md-6 col-sm-6">
                                                <input class="form-control" data-validate-length-range="255" data-validate-words="2" name="name"
                                                       placeholder="Số lượng người cùng ở tiêu chuẩn." required="required" />
                                            </div>
                                        </div>
                                        <div class="field item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3  label-align">Sức chứa tối đa</label>
                                            <div class="col-md-6 col-sm-6">
                                                <input class="form-control" data-validate-length-range="255" data-validate-words="2" name="name"
                                                       placeholder="Số lượng người cùng ở tối đa." required="required" />
                                            </div>
                                        </div>
                                        <div class="field item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3  label-align">Nơi vui chơi giải trí đề xuất</label>
                                            <div class="col-md-6 col-sm-6">
                                                <input class="form-control" data-validate-length-range="255" data-validate-words="2" name="name"
                                                       placeholder="Đề xuất cho khách thuê một vài địa điểm vui choi." required="required" />
                                            </div>
                                        </div>
                                        <div class="field item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3  label-align">Hướng dẫn</label>
                                            <div class="col-md-6 col-sm-6">
                                                <input class="form-control" data-validate-length-range="255" data-validate-words="2" name="name"
                                                       placeholder="Hướng đẫn khách sử dụng căn hộ hiệu quả." required="required" />
                                            </div>
                                        </div>

                                        <div class="field item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3  label-align">Ấm thực</label>
                                            <div class="col-md-6 col-sm-6">
                                                <input class="form-control" data-validate-length-range="255" data-validate-words="2" name="name"
                                                       placeholder="Món ngon." required="required" />
                                            </div>
                                        </div>

                                        <div class="field item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3  label-align">Quy định căn hộ</label>
                                            <div class="col-md-6 col-sm-6">
                                                <input class="form-control" data-validate-length-range="255" data-validate-words="2" name="name"
                                                       placeholder="Quy tắc chung quản lý căn hộ." required="required" />
                                            </div>
                                        </div>
                                        <div class="field item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3  label-align">Số điện thoại liên hệ</label>
                                            <div class="col-md-6 col-sm-6">
                                                <input class="form-control" data-validate-length-range="255" data-validate-words="2" name="name"
                                                       placeholder="Số điện thoại liên hệ với chủ căn hộ." required="required" />
                                            </div>
                                        </div>
                                        <div class="field item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3  label-align">Fax</label>
                                            <div class="col-md-6 col-sm-6">
                                                <input class="form-control" data-validate-length-range="255" data-validate-words="2" name="name"
                                                       placeholder="Số Fax" required="required" />
                                            </div>
                                        </div>

                                        <div class="field item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3  label-align">Diện tích (mét vuông)</label>
                                            <div class="col-md-6 col-sm-6">
                                                <input class="form-control" data-validate-length-range="255" data-validate-words="2" name="name"
                                                       placeholder="Diện tích tính bằng (mét vuông)" required="required" />
                                            </div>
                                        </div>

                                        <div class="field item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3  label-align">Số lượng phòng tắm</label>
                                            <div class="col-md-6 col-sm-6">
                                                <input class="form-control" data-validate-length-range="255" data-validate-words="2" name="name"
                                                       placeholder="Có bao nhiêu phòng tắm trong căn hộ của bạn ?" required="required" />
                                            </div>
                                        </div>

                                        <div class="field item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3  label-align">Số lượng phòng ngủ</label>
                                            <div class="col-md-6 col-sm-6">
                                                <input class="form-control" data-validate-length-range="255" data-validate-words="2" name="name"
                                                       placeholder="Có bao nhiêu phòng ngủ trong căn hộ của bạn ?" required="required" />
                                            </div>
                                        </div>

                                        <div class="field item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3  label-align">Tiêu Chuẩn Sao</label>
                                            <div class="col-md-6 col-sm-6">
                                                <input class="form-control" data-validate-length-range="255" data-validate-words="2" name="name"
                                                       placeholder="Tiêu Chuẩn Sao" required="required" />
                                            </div>
                                        </div>

                                        

                                        <div class="field item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3  label-align">Các tiện ích</label>
                                            <p style="padding: 5px;" class ="col-md-6 col-sm-6 " >
                                                @foreach (var convenience in ViewBag.convenience)
                                                {
                                                    <input id="@convenience.id" type="checkbox" name="skill" value="@convenience.id" class="flat" /> 
                                                    <label for="@convenience.id" class="flat"> @convenience.name</label>
                                                }
                                            </p>
                                               
                                         
                                        </div>

                                        <div class="field item form-group">
                                            <label class="control-label col-md-3 col-sm-3 label-align">Chính sách hủy</label>
                                            <div class="col-md-6 col-sm-6 ">
                                                <select class="form-control">
                                                    <option value="0">Thường</option>
                                                    <option value="1">Linh Hoạt</option>
                                                    <option value="2">Nghiêm Ngặt</option>
                                                </select>
                                            </div>
                                        </div>


                                        <div class="field item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3  label-align">Vị trí căn hộ</label>
                                            <div class="col-md-6 col-sm-6">
                                                <input class="form-control" data-validate-length-range="255" data-validate-words="2" name="name"
                                                       placeholder="Căn hộ của bạn nằm ở đâu? vị trí cụ thể. " required="required" />
                                            </div>
                                        </div>

                                        <div class="field item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3  label-align">Hình ảnh</label>
                                            <div class="col-md-6 col-sm-6">
                                                <input id="fileupload" type="file" multiple="multiple" />
                                                <hr />
                                                <b>Live Preview</b>
                                                <br />
                                                <br />
                                                <div id="dvPreview">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="field item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3  label-align">Giá Phòng</label>
                                            <div class="col-md-6 col-sm-6">
                                                <input class="form-control" data-validate-length-range="255" data-validate-words="2" name="name"
                                                       placeholder="Giá Phòng" required="required" />
                                            </div>
                                        </div>

                                        <div class="field item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3  label-align">Tăng giá</label>
                                            <div class="col-md-6 col-sm-6">
                                                <input class="form-control" data-validate-length-range="255" data-validate-words="2" name="name"
                                                       placeholder="Tăng giá" required="required" />
                                            </div>
                                        </div>


                                        <div class="field item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3  label-align">Phụ phí mỗi người</label>
                                            <div class="col-md-6 col-sm-6">
                                                <input class="form-control" data-validate-length-range="255" data-validate-words="2" name="name"
                                                       placeholder="Phụ phí mỗi người" required="required" />
                                            </div>
                                        </div>

                                        <div class="field item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3  label-align">Ngày tối thiểu</label>
                                            <div class="col-md-6 col-sm-6">
                                                <input class="form-control" data-validate-length-range="255" data-validate-words="2" name="name"
                                                       placeholder="Ngày tối thiểu" required="required" />
                                            </div>
                                        </div>

                                        <div class="field item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3  label-align">Ngày tối đa</label>
                                            <div class="col-md-6 col-sm-6">
                                                <input class="form-control" data-validate-length-range="255" data-validate-words="2" name="name"
                                                       placeholder="Ngày tối đa" required="required" />
                                            </div>
                                        </div>



                                        <div class="field item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3  label-align">check in time</label>
                                            <div class="col-md-6 col-sm-6">
                                                <input class="form-control" data-validate-length-range="255" data-validate-words="2" name="name"
                                                       placeholder="check in time" required="required" />
                                            </div>
                                        </div>

                                        <div class="field item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3  label-align">check out time</label>
                                            <div class="col-md-6 col-sm-6">
                                                <input class="form-control" data-validate-length-range="255" data-validate-words="2" name="name"
                                                       placeholder="check out time" required="required" />
                                            </div>
                                        </div>


                                        <div class="ln_solid">
                                            <div class="form-group">
                                                <div class="col-md-6 offset-md-3">
                                                    <button type='submit' class="btn btn-primary">Submit</button>
                                                    <button type='reset' class="btn btn-success">Reset</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- /form input mask -->

                    </div>
                </div><!-- /.docs-toggles -->
            
            <!-- /page content -->
            <!-- footer content -->
            

